version: "3.9"

services:
  postgres:
    image: postgres:15
    shm_size: "2048mb"
    volumes:
      - odoo_database:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_DB=postgres
    ports:
      - "127.0.0.1:5437:5432"
    networks:
      - odoo_backend

  odoo:
    build:
      context: ../..
      dockerfile: 17.0/.devcontainer/Dockerfile
    volumes:
      - odoo_data:/home/odoo
      - odoo17_linuxbrew:/home/linuxbrew/.linuxbrew
      - ../workspace:/workspace
      - ${HOME}/.gemini:/home/odoo/.gemini
    env_file:
      - ../../.env
    environment:
      - PGPASSWORD=odoo
      - PGUSER=odoo
      - PGHOST=postgres
      # Mail settings for Mailpit
      - SMTP_HOST=mailpit
      - SMTP_PORT=1025
      # Sets the ADC environment variable to the path in the container
      - GOOGLE_APPLICATION_CREDENTIALS=/home/odoo/.gcp/service-account.json
    depends_on:
      - postgres
    ports:
      - "8017:8069"
      - "8047:8072"
    networks:
      - odoo_backend

  mailpit:
    image: axllent/mailpit:latest
    ports:
      - "1017:1025"  # SMTP server port
      - "8117:8025"  # Web interface port
    environment:
      - MP_SMTP_AUTH_ACCEPT_ANY=true
      - MP_SMTP_AUTH_ALLOW_INSECURE=true
    networks:
      - odoo_backend

networks:
  odoo_backend:
    driver: bridge

volumes:
  odoo_database:
  odoo_data:
  odoo17_linuxbrew:
